<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Mongo Scraper</h1>
    </div>
    <div class="text-center">
        <a href="/scrape">Scrape Articles</a>
        <span> | |</span>
        <a href="/articles">API Articles</a>
    </div>
</div>
<div class="wrap">
    <div class="row">

    </div>
</div>